* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 10vh;
  background: linear-gradient(
    to right,
    rgb(115, 102, 190),
    rgb(6, 2, 67),
    rgb(128, 118, 190)
  );
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#H3 {
  color: white;
  background-color: rgb(21, 3, 65);
  width: 20rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  box-shadow: 3px 3px 10px rgb(96, 144, 239);
  display: flex;
  width: 70vw;
  background: radial-gradient(rgb(115, 110, 187), rgb(1, 1, 6));
  height: 70vh;
}

#breedlist {
  flex: 0.33;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
}

#breedlist::-webkit-scrollbar {
  width: 5px;
}
#breedlist::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#breedlist::-webkit-scrollbar-thumb {
  background: #888;
}
#breedlist::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#breedlist ul {
  margin-top: 2rem;
}

#breedlist li {
  background-color: rgb(218, 60, 7);
  color: rgb(255, 255, 255);
  letter-spacing: 1.3px;
  text-transform: capitalize;
  border: 2px solid white;
  text-align: center;
  width: 20rem;

  padding: 1.3rem;
  list-style: none;
  font-weight: bold;
}

#breedlist li:hover {
  background-color: rgb(251, 227, 205);
  color: rgb(218, 60, 7);
}

#content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}
#content::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
#content img {
  background: white;
  padding: 1rem;
  margin: 1rem;
  width: 50%;
}
#content h1 {
  background: red;
  padding: 2rem;
  color: white;
  border: 3px dotted white;
}
h3 {
  color: rgb(32, 15, 97);
  background-color: rgb(255, 189, 189);
  padding: 1rem;
  margin: 1rem;
}

@media screen and (max-width: 850px) {
  html {
    font-size: 90%;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: auto;
  }
  #breedlist {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    max-height: 15rem;
    border-top: 6px solid white;
    border-bottom: 6px solid white;
  }
  #breedlist::-webkit-scrollbar {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 65%;
  }
}
